<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:name="com.intelligame.chatai.ChatApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules" >

        <!-- Google Play richiede URL privacy policy nel manifest -->
        <meta-data
            android:name="android.privacy.POLICY_URL"
            android:value="https://www.mevacoin.com/privacy.html"/>

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.intelligame.chatai.MainActivity"
            android:label="@string/app_name"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|density|uiMode|fontScale|keyboardHidden">
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2572171530354182~3524563603"/>

        <activity
            android:name="com.intelligame.chatai.LoginActivity"
            android:label="@string/title_activity_login"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>

        <activity
            android:name="com.intelligame.chatai.CharacterDetailActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
        </activity>

        <activity
            android:name="com.intelligame.chatai.GameCenterActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".MvcEarnActivity"
            android:exported="false"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".PurchasesActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ImportActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".LegalActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>
